<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="text-container about">
                    <h4>Cateva cuvinte despre noi</h4>
                    <p class="white">Credem că socetatea se va putea dezvolta doar prin credință, respect, comunicare și
                        nu în ultimul rând empatie unii față de alții. Suntem aproape de clienții nostri și de
                        problemele lor! </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-md-2">
                <div class="text-container">
                    <h4>Links</h4>
                    <ul class="list-unstyled li-space-lg white">
                        <li>
                            <a class="white" href="https://connectingvision.ro/">connectingvision.ro</a>
                        </li>
                        <li>
                            <a class="white" href="https://www.facebook.com/connectingvision.ro">Facebook</a>
                        </li>
                        <li>
                            <a class="white" href="https://www.instagram.com/connectingvision.ro">Instagram</a>
                        </li>
                        <li>
                            <a class="white" href="https://www.linkedin.com/in/connectingvision-cadastru-%C8%99i-topografie/">Linkedin</a>
                        </li>
                    </ul>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
           
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- <p class="p-small">Copyright © 2020 <a href="https://inovatik.com">Template by Inovatik</a></p> -->
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->