<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right tm-contact-main"> <!-- Content -->
        <section class="tm-content tm-contact">
            <h2 class="mb-4 tm-content-title">Contact Us</h2>
            <hr>
            <p class="mb-4">Ing. geodez: Goga Daniel-Petru, autorizat categoria B<br>
                e-mail: <a href ="mailto:connecting.vision.cadastru@gmail.com" class="tm-text-link">connecting.vision.cadastru&#64;gmail.com</a> <br>
                Tel: <a href ="tel:0757349030" class="tm-text-link">0757.349.030</a> <br>
                Site: <a href = "https://connectingvision.ro" class="tm-text-link"><b>connectingvision.ro</b></a> <br>
            </p><hr>
            <p class="text-suplimentar">
                Servicii de cadastru, topografie și geodezie în județul Caraș-Severin și Timiș sau alte
                județe dacă volumul de lucrări este mai mare.
            </p>

        </section>
    </main>
</div>