<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content tm-about">
            <h2 class="mb-5 tm-content-title">Despre CONNECTING VISION </h2>
            <hr class="mb-4">
            <div class="media my-3">
                <i class="far fa-building fa-3x p-3 mr-4"></i>
                <div class="media-body">
                    <p> Firma CONNECTING VISION cu toate ca este o firmă la început de drum, înființată în anul 2022,
                        caută să aibă un real impact în socetate prin dezvoltare și inovare de servicii aducând un plus
                        valoare asupra proiectelor pe care le desfăsoară, reducând costurile clienților noștri. </p>
                </div>
            </div>
            <div class="media my-3">
                <i class="fas fa-user-check fa-3x p-3 mr-1"></i>
                <div class="media-body">
                    <p>Personalul firmei cu o experiență de peste 10 ani în domeniul măsurătorilor terestre și cadastru,
                        cu o vastă expertiză asupra proiectelor nationale de mare anvergură de Înregistrare Sistematică
                        la nivel de unitate administrativ-teritorială, cadastru sporadic și topografie, pregătită să
                        vină cu soluții la rezolvarea problemelor dumneavoastră. </p>
                </div>
            </div>
            <div class="media my-3">
                <i class="far fa-handshake fa-3x p-3 mr-1"></i>
                <div class="media-body">
                    <p>Aducem servicii de cea mai înaltă calitate de pe piață pentru clienții și colaboratorii noștri în
                        funcție de nevoile fiecăruia</p>
                </div>
            </div>
            <div class="media my-3">
                <i class="fas fa-check-double fa-3x p-3 mr-4"></i>
                <div class="media-body">
                    <p>Caută-ne și vom găsi soluții la problemele dumneavoastre!
                        Consultanța este gratuită!</p>
                </div>
            </div>
        </section>
    </main>
</div>