<!-- About -->
<div id="about" class="counter">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-6">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/about.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7 col-xl-6">
                <div class="text-container">
                    <div class="section-title">DESCPRE</div>
                    <h2>Despre Connecting Vision </h2>
                    <p> Firma CONNECTING VISION cu toate ca este o firmă la început de drum, înființată în anul 2022,
                        caută să aibă un real impact în socetate prin dezvoltare și inovare de servicii aducând un plus
                        valoare asupra proiectelor pe care le desfăsoară, reducând costurile clienților noștri. </p>


                    <!-- <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">Everything we recommend has direct positive impact</div>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <div class="media-body">You will become an important partner of our company</div>
                        </li>
                    </ul> -->



                    <!-- Counter -->
                    <!-- <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="231">1</div>
                            <div class="counter-info">Happy<br>Users</div>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="121">1</div>
                            <div class="counter-info">Issues<br>Solved</div>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="159">1</div>
                            <div class="counter-info">Good<br>Reviews</div>
                        </div>
                    </div> -->
                    <!-- end of counter -->

                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-chart-pie fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Personalul firmei</h4>
                            <p>Personalul firmei cu o experiență de peste 10 ani în domeniul măsurătorilor terestre și
                                cadastru, cu o vastă expertiză asupra proiectelor nationale de mare anvergură de
                                Înregistrare Sistematică la nivel de unitate administrativ-teritorială, cadastru
                                sporadic și topografie, pregătită să vină cu soluții la rezolvarea problemelor
                                dumneavoastră. </p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>
                            <i class="fas fa-list-alt fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Servicii</h4>
                            <p>Aducem servicii de cea mai înaltă calitate de pe piață pentru clienții și colaboratorii
                                noștri în funcție de nevoile fiecăruia</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <span class="hexagon"></span>

                            <i class="fas fa-binoculars fa-stack-1x"></i>
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Contact</h4>
                            <p>Caută-ne și vom găsi soluții la problemele dumneavoastre!</p>

                            <p> Consultanța este gratuită!</p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
</div> <!-- end of counter -->
<!-- end of about -->