<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content">
            <h2 class="mb-5 tm-content-title">CONNECTING VISION | Cadastru-Topografie</h2>
            <hr>
            <p class="mb-5 tm-content-content">Connecting Vision este o firmă de specialitate din domeniul cadastrului
                și topografiei,
                autorizată de Agenția Națională de Cadastru și Publicitate Imobiliară să realizeze lucrari pe teritoriul
                României, având un personal cu o vastă experiență în acest domeniu și care are ca drept scop realizarea
                de servicii de cea mai înaltă calitate într-un timp cât mai scurt, la prețuri avantajoase.</p>
            <p class="mb-5  tm-content-content">Credem că socetatea se va putea dezvolta doar prin credință, respect,
                comunicare și nu în
                ultimul rând empatie unii față de alții.Suntem aproape de clienții nostrii și de problemele lor!</p>
            <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
                class="btn btn-primary">Contactează-ne...</a>
        </section>
    </main>
</div>