<div class="tm-row">
    <div class="tm-col-left"></div>
    <main class="tm-col-right">
        <section class="tm-content">
            <h2 class="mb-5 tm-content-title">CONNECTING VISION | Cadastru-Topografie-Geodezie </h2>
            <p class="mb-5">Connecting Vision este o firmă cu servicii de top în domeniul cadastrului, topografiei și geodeziei cu un personal cu o vastă expertiză în acest domeniu, care are ca drept scop realizarea de servicii de cea mai înalta calitate într-un timp cât mai scurt.</p>
            <hr class="mb-5">
            <p class="mb-5">Credem că socetatea se va putea dezvolta doar prin credință, respect, comunicare și nu în ultimul rând empatie unii față de alții.Suntem aproape de oameni și de problemele lor!</p>                        
            <a href="contact.html" class="btn btn-primary">Contactează-ne...</a>
        </section>
    </main>
</div>