<div class="tm-container">
    <div>
        <app-header></app-header>
    </div>

    <div>
        <app-content></app-content>
    </div>

    <div class="tm-row">
        <div class="tm-col-left text-center">
            
            <ul class="tm-bg-controls-wrapper">
                <li class="tm-bg-control active" data-id="0"></li>
                <li class="tm-bg-control" data-id="1"></li>
                <li class="tm-bg-control" data-id="2"></li>
            </ul>
        </div>

        <div class="tm-col-right tm-col-footer">
            <app-footer></app-footer>
        </div>
    </div>

    <!-- Diagonal background design -->
    <div class="tm-bg">
        <div class="tm-bg-left"></div>
        <div class="tm-bg-right"></div>
    </div>
</div>