<div class="tm-container">
    <div class="tm-col-right-header">
        <app-header></app-header>
    </div>

    <div>
        <router-outlet></router-outlet>
    </div>

    <div class="tm-row" >
        <div class="tm-col-left text-center">
        </div>

        <div class="tm-col-right tm-col-footer">
            <app-footer></app-footer>
        </div>
    </div>

    <!-- Diagonal background design -->
    <div class="tm-bg">
        <div class="tm-bg-left"></div>
        <div class="tm-bg-right"></div>
    </div>
</div>