<!-- Services -->
<div id="services" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">SERVICII</div>
                <h2>Servicii de cadastru și topografie<br> în Jud.Caraș-Severin și Timiș : </h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->

        <div class="row">
            <div class="col-lg-12">


            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of services -->

    <!-- Details 2 -->
    <div class="tabs">
        <div class="area-1">
            <div class="tabs-container">

                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="ariaTabs" role="tablist">

                    <li class="nav-item">
                        <div class="serv"><a class="nav-link"> Servicii</a></div>
                    </li>

                </ul>
                <hr>
                <!-- end of tabs links -->

                <!-- Tabs Content -->
                <div class="tab-content" id="ariaTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <ul class="list-unstyled li-space-lg first">
                            <li class="media">
                                <div class="media-bullet">1</div>
                                <div class="media-body"><strong>Cadastru sporadic:</strong> Executăm documentații
                                    de cadastru pentru intabularea terenurilor și construcțiilor.</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">2</div>
                                <div class="media-body"><strong>Înregistrare sistematică:</strong> Realizăm lucrari de
                                    înregistrare sistematică la nivel de sectore cadastrale sau pe întregul UAT.</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">3</div>
                                <div class="media-body"><strong>Comasari și dezlipiri:</strong> Întocmim documentații
                                    de dezmembrăre/comasare a imobile.</div>
                            </li>
                        </ul>
                        <ul class="list-unstyled li-space-lg last">
                            <li class="media">
                                <div class="media-bullet">4</div>
                                <div class="media-body"><strong>Trasări și înțărușări:</strong> Executăm lucrări de
                                    trasare a axelor construcțiilor de locuințe, efectuăm măsurători pentru înțărușarea
                                    terenurilor.</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">5</div>
                                <div class="media-body"><strong>Ridicări topografice:</strong> Efectuăm ridicări
                                    topografice, planuri topografice pentru aviz tehnic, profile longitudinale și
                                    transversale.</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">6</div>
                                <div class="media-body"><strong>Fotogrammetrie:</strong> Realizăm zboruri
                                    fotogrammetrice pentru crearea ortofotoplanurilor la diferite scări.</div>
                            </li>
                        </ul>
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of tabs-container -->
        </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space -->
        <div class="area-2"></div> <!-- end of area-2 -->
    </div> <!-- end of tabs -->
    <!-- end of details 2 -->

    <!-- Details 1 -->
    <div id="details" class="accordion">
        <div class="area-1">
        </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space -->
        <div class="area-2">

            <!-- Accordion -->
            <div class="accordion-container" id="accordionOne">
                <h2>Calitatea lucrărilor este garantată de:</h2>
                    <!-- <hr> -->
                    <ul>
                        <li>experiența personalului de peste 10 ani în domeniu;</li>
                        <li>utilizarea la realizarea măsurătorilor a echipamentelor moderne;</li>
                        <li>o bună colaborare cu clienții;</li>
                        <li> consultanță gratuită;</li>
                        <li>seriozitate și profesionalism.</li>
                    </ul>
                    <hr>
                    <p> Toate lucrările de cadastru și topografie sunt executate conform legislației în vigoare și
                        respectând normele emise de Agenția Națională de Cadastru și Publicitate
                        Imobiliară.Prețurile
                        diferă în funcție de specificul lucrării (cadastru, intabulare, localizarea terenului,
                        suprafața
                        imobilului). Pentru o evaluare corectă a lucrării dumneavoastră vă rugăm să ne contactați.
                    </p>
            </div> <!-- end of accordion-container -->
            <!-- end of accordion -->

        </div> <!-- end of area-2 -->
    </div> <!-- end of accordion -->
    <!-- end of details 1 -->